{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="title"> Canais </h3>
            <p class="category">Lista de canais para automação</p>
            <button type="submit" class="btn btn-fill btn-primary ml-auto">+ Adicionar Canal</button> 
          </div>
          <div class="card-body all-icons">
            <div class="row">
              {% for canal in canais %}
              <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                <div class="font-icon-detail">
                  <i class="tim-icons icon-video_settings"></i>
                  <p>icon-video_settings</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
